<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    {{!-- <link rel="icon" type="image/png" sizes="48x48" href="./favicon.ico"> --}}
    <!-- Bulma Version 0.9.0-->
    <link rel='stylesheet' href='https://unpkg.com/bulma@0.9.0/css/bulma.min.css'>
    <link rel='stylesheet' href='./css/style.css'>
    <!-- <link rel="stylesheet" href="../css/kanban.css"> -->
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="client.js"></script>
</head>

<body>
<span class="is-hidden" id="token">{{filler.Token}}</span>
    <section class="hero is-info has-background-black" id="msg">
        <div class="hero-body">
            <div class="container">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-large" type="type" id="msgBox" placeholder="Message" maxlength="300"/>
                                <span class="icon is-medium is-left">
                                    <!-- <i class="fa fa-search"></i> -->
                                </span>
                                <span class="icon is-medium is-right">
                                    <i class="fa fa-empire"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <div class="box cta">
<div class="columns is-mobile is-centered">
    <div class="field is-grouped is-grouped-multiline">
        <div class="control"><span class="tag is-link is-large">Link</span></div>
        <div class="control"><span class="tag is-success is-large">Success</span></div>
        <div class="control"><span class="tag is-black is-large">Black</span></div>
        <div class="control"><span class="tag is-warning is-large">Warning</span></div>
        <div class="control"><span class="tag is-danger is-large">Danger</span></div>
        <div class="control"><span class="tag is-info is-large">Info</span></div>
    </div>
</div>
</div> -->
    <section class="container">
        <div class="">
            <div class="columns is-multiline is-centered cards-container" id="sectioncontainer">
                <div class="column is-full">
                    <article class="message is-primary">
                        <div class="message-header has-text-centered">
                            <p id='userCount'>Global Users: Loading</p>
                            <!-- <button class="delete" aria-label="delete"></button> -->
                        </div>
                        <div class="message-body" id="messages" style="overflow-y:auto;">
                        </div>
                    </article>
                </div>
                <!-- <div class="column is-narrow">
        <article class="message is-black">
            <div class="message-header">
                <p>Season 1</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                <div class="board-item">
                    <div class="board-item-content"><span>The Fort</span></div>
                </div>
                <div class="board-item">
                    <div class="board-item-content"><span>Fist Like a bullet</span></div>
                </div>
                <div class="board-item">
                    <div class="board-item-content"><span>White Stork Spreads Wings</span></div>
                </div>
                <div class="board-item">
                    <div class="board-item-content"><span>Two Tigers Subdue Dragons</span></div>
                </div>
                <div class="board-item">
                    <div class="board-item-content"><span>Snake Creeps Down</span></div>
                </div>
                <div class="board-item">
                    <div class="board-item-content"><span>Hand of Five Poisons</span></div>
                </div>
            </div>
        </article>
    </div> -->
            </div>
        </div>
    </section>
    <!-- <div class="columns is-mobile is-centered">
<div class="column is-half is-narrow"></div> -->
    <!-- </div> -->
    <footer>
    </footer>
    <!-- <script src="../js/bulma.js"></script> -->
</body>

</html>